div(class="rule")
	h1 Welcome to Guardian Open Data Platform Explorer
p This is a node.js -angular.js-couchbase application displaying data retrieved from the guardian open data platform.
	|Please follow the links on the left menu to see further.
p <strong>Search News</strong>
input(ng-model='form.keyword', name='keyword', id='keywordField')
button(ng-click='searchNews()') Search