!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Guardian Newspaper Football Content
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/autumn05.css')
  body
    block body